/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}*/


body {
    background-color: #F9F9F9;
}
footer {
    margin: 0 auto;
    max-width: 90vw;
}


/* - - - Navbar - - - */

.navBarAccueil {
    padding: 1vh 0;
    background-color: #393E41;
    display: flex;
    align-items: center;
    color: whitesmoke;
}
.menuNavbar {
    flex: 1;
    padding-left: 1vw;
}
.titreNavBar {
    flex: 10;
    color: #44BBA4;
    font-size: 20px;
    font-weight: 300;
}


/* - - - Titre et traits - - - */

.containerTitre {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.trait {
    height: 1px;
    background-color: #707070;
    width: 30vw;
}
.titreAccueil {
    margin: 4vh 0;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .3em;
}
@media screen and (max-width: 8in) {
  .trait {
    width: 10vw;
  }
  .titreAccueil {
    font-size: 16px;
  }
}


/* - - - Contenu - - - */
.containerContenu {
    /*
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template: "partieGauche partieDroite partieDroite partieDroite partieDroite partieDroite";
    */
    display: flex;
    justify-content: space-around;
    max-height: 80vh;
}


.partieGauche {
    display: inline-flex ;
    flex-direction: column;
    justify-content: center;
}
.cardAccueil {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;
  background-color: #393E41;
  color: #47D890;
  margin: 1vh 2vw;
  -webkit-box-shadow: 6px 4px 6px 0px rgba(237,234,237,1);
  -moz-box-shadow: 6px 4px 6px 0px rgba(237,234,237,1);
  box-shadow: 4px 3px 6px 0px rgba(237,234,237,1);
}
.cardAccueil:hover {
    background-color: #616669;
    transition: .2s;
}
.cardAccueil a {
    color: #47D890;
}
.cardAccueil a:hover {
    text-decoration: none;
}

.partieDroite {
  min-width: 70vw;
  min-height: 60vh;
  padding: 1vh 1vw;
  border: 1px solid #707070;
  overflow: scroll;
  background-color: #393E41;
  color: #47D890;
}
.partieDroite .cardEleve {
  background-color: #F9F9F9;
  color: black;
}


@media screen and (max-width:8in) {
    .containerContenu {
        flex-direction: column;
    }
    .partieGauche {
      flex-direction: row;
    }
}