
@{
    ViewBag.Title = "ListeLapins";
}

<div>
    @foreach(testWebASPdotNet.Models.Lapin lapin in ViewData["Lapins"] as List<testWebASPdotNet.Models.Lapin>)
    {
        <h2>@lapin.Nom</h2>
    }
</div>
